.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70%;
  user-select: none;
  pointer-events: none;
}
.logomobile {
  max-width: 128px;
  user-select: none;
  pointer-events: none;
  display: none;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.path {
  fill: var(--white);
}
.menu {
  display: none;
}
.logoLink {
  margin: 0;
}

@media (max-width: 1024px) {
  .nav ul {
    display: none;
  }
  .logo {
    display: none;
  }
  .logomobile {
    display: block;
  }
  .menu {
    display: block;
  }
}
@media (max-width: 407px) {
  .logomobile {
    max-width: 90px;
  }
}
