.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70%;
  user-select: none;
  pointer-events: none;
}
.nav {
  display: flex;
  gap: 1rem;
}

.path {
  fill: var(--white);
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}
