.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 35vw;
  border-radius: 1rem;
  margin: 0rem auto;
  background-color: var(--black-glass);
}
.slider img {
  width: 100%;
}
@media (max-width: 1024px) {
  .slider {
    max-height: 40vw;

    margin: 0rem auto;
  }
}
