.terminal {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 10rem auto;

  background-color: var(--black-glass);
  max-width: 100%;

  border-radius: 1rem;
  gap: 1rem;
  padding: 2rem;
}

.terminal input {
  background-color: var(--black-glass);
  max-width: 80%;
  border-radius: 1rem;
  padding: 1rem;
  border: 0;
  color: var(--white);
}
.terminal select {
  background-color: var(--black-glass);

  border-radius: 1rem;
  padding: 1rem;
  border: 0;

  color: var(--white);
}

.terminalSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.terminalSwap {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 760px) {
  .terminal input {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .terminal select {
    font-size: 16px;
  }
  .terminal button {
    font-size: 16px;
  }
}
