.terminal {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--black-glass);

  border-radius: 1rem;
  gap: 1rem;
  padding: 2rem;
}

.terminal input {
  background-color: var(--black-glass);

  border-radius: 1rem;
  padding: 1rem;
  border: 0;
 
  color: var(--white);
}
.terminal select {
  background-color: var(--black-glass);

  border-radius: 1rem;
  padding: 1rem;
  border: 0;

  color: var(--white);
}

.terminalSettings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.terminalSwap {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
