.button {
  font-size: 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(5px);
  cursor: pointer;
  background-color: var(--orange);
}

.accent {
  background-color: var(--orange);
  color: var(--black-bg);
}

.outlined {
  background-color: var(--black-glass);
  color: var(--white);
}
.stock {
  background-color: var(--black-glass);
  color: #fff;
  transform: scale(1.05);
  transition: all 0.1s;
}
.stock:hover {
  scale: 105%;
  box-shadow: 0 0 5px 2px #ff8f26b7;
  border-color: var(--orange);
}

.outlined:hover {
  border-color: var(--white);
  box-shadow: 0 0 10px 5px hsla(0, 0%, 100%, 0.25);
}
