@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --white: #dcd7d8;
  --black: #2222227e;
  --black-secondary: #000;
  --green: #55ba6f;
  --red: #e44d4d;

  --backdrop: #222222;
  --radius: 16;
  --border: 1;
  --backup-border: var(--backdrop);
  --size: 100;
}
::-webkit-scrollbar {
  display: none;
}
html {
  box-sizing: border-box;
  font-size: 16px;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--black-secondary);
  color: var(--white);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

/* Slider.module.css */

.swiper-button-next,
.swiper-button-prev {
  color: var(--white);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background-color: var(--white) !important;
}

.swiper-pagination-bullet {
  background-color: var(--white);
}
