.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20rem;
  user-select: none;
  pointer-events: none;
}
.nav {
  display: flex;
  gap: 1rem;
}

.path {
  fill: var(--white);
}
