.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 4%;
  width: 100%;

  min-height: 34rem;
}

.item {
  display: flex;
  gap: 2rem;
}

.titleImg {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("../../assetst/img/news.png");
  background-size: cover;
  border-radius: 6px;
}

.titleImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
}

.extra {
  font-size: 1rem;
  color: var(--green);
  margin-left: auto;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}
.description {
  font-size: 1rem;
  color: gray;
}

@media (max-width: 1042px) {
  .main {
    padding: 2%;
  }
}
